body {
    background-image: url("/images/Hero\ Space.png");
    background-color: #F8F8F8;
   }
}

.inline-block {
    vertical-align: top;
    width: 50%;
    margin-left: auto;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.nav {
    width: 73%;
    padding: 1%;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

#footer {
    background-color: #373737;
    padding: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    padding: 50%;
}